.cars {
    border: 1px solid red;
}

.blue {
    border: 1px solid blue;
}

.input {}

.input:active,
.input:focus {
    outline: none;
}

.input.green {
    border: 1px solid green;
}

.input.red {
    border: 1px solid red;
}

.input.bold{
    border: 2px solid green;
    font-weight: bold;
}